@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;600;700;800&family=Sirin+Stencil&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    margin: 0px;
}

section {
    background-color:  #FFFFFF;
}

.hero {
    /* 5E17EB */
    background-color: #1C1D25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 80px;
}

footer h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 55px;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.button a:hover {
    color: #FFFFFF;
}

a:hover {
    color: #04AA6D;
}

.sub-text {
    font-size: 15px;
    font-weight: 300;
    padding: 5px 15px;
}

.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 150px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #04AA6D;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #5E17EB;
}

.socials {
    padding-bottom: 200px;
}

.logo-text {
    font-family: 'Sirin Stencil', cursive;
    font-size: 5rem;
    margin: 30px;
}

.social {
    margin: 20px;
}

.social svg {
    width: 35px;
    height: 35px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    padding-bottom: 60px;
}

.information h2 {
    margin-top: 5px;
}

.information p {
    padding-left: 10px;
}

.headshot {
    width: 300px;
    padding: 10px;
    /* filter: grayscale(100%); */
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin-inline:  10px;
    margin-bottom: 30px;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 10px;
}

.project-image:hover {
    background-color: #5E17EB;
}

hr {
    margin-inline: 20px;
}

.project-link {
    text-decoration: none;
    color: #04AA6D;
}

.project-link:hover {
    color: #5E17EB;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }    

    ul {
        display: none;
        background-color: #333542;
        margin: 0px;
        padding-bottom: 10px;

    }

    ul.show {
        display: block;
    }

    ul li a:hover {
        background-color: #5E17EB;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #333542;
    }

    .logo-text {
        display: none;
    }
}

@media only screen and (max-width: 765px) {
    h1 {
        font-size: 70px;
    }

    .sub-section:nth-child(2) {
        flex-wrap: wrap;
        padding-inline: 20px;
        text-align: center;
    }

    .headshot {
        padding-top: 30px;
    }
    
    .information h2 {
        margin-bottom: 20px;
    }

    .hero-area {
        text-align: center;
        flex-wrap: wrap;
    }

    .hero-text {
        margin-inline: auto;
        margin-bottom: 25px;
    }

    .hero-text div.button {
        margin: 20px auto;

    }

    .socials {
        display: flex;
        padding-bottom: 80px;
        align-self: flex-start;
        margin: -25px auto;

    }
}